/* Cancara — Semantic colour tokens (light = :root, dark = [data-theme="dark"]). Generated. */

:root {
  --background-action-defaultalt01: #00000000;
  --background-action-oncolor-default: #FFFFFF;
  --background-action-oncolor-defaultalt01: #00000000;
  --background-overlay-default: #000000A5;
  --background-overlay-defaultalt01: #000000A5;
  --background-panel-transparent: #00000000;
  --background-sentiment-criticalalt02: #DB0F30;
  --border-action-defaultalt01: #00000000;
  --border-action-oncolor-default: #FFFFFF;
  --border-action-oncolor-defaultalt01: #00000000;
  --border-generic-brand: #0BE248;
  --border-generic-brandalt01: #0BE248;
  --border-generic-inverse: #FFFFFF;
  --border-input-critical: #DB0F30;
  --border-panel-default: #00000000;
  --border-sentiment-critical: #DB0F30;
  --border-sentiment-info: #276AE6;
  --border-sentiment-success: #0F9F6A;
  --border-sentiment-warning: #E06900;
  --icon-action-disabled: #767676;
  --icon-action-disabledalt01: #00000000;
  --icon-sentiment-critical: #DB0F30;
  --icon-sentiment-criticalalt01: #FFFFFF;
  --icon-sentiment-info: #276AE6;
  --icon-sentiment-success: #0F9F6A;
  --icon-sentiment-warning: #E06900;
  --local-digitaltransaction-merchantlogobackground: #FFFFFF;
  --local-payments-generatedimagebackground: #FFFFFF;
  --text-action-disabled: #767676;
  --text-sentiment-criticalalt01: #FFFFFF;
  --text-sentiment-criticalalt02: #DB0F30;
  --background-action-default: #000000;
  --background-action-disabled: #C9C9C9;
  --background-action-oncolor-disabled: #C9C9C9;
  --background-action-oncolor-pressed: #323233;
  --background-action-pressed: #323233;
  --background-input-default: #FFFFFF;
  --background-input-disabled: #F1F1F1;
  --background-page-default: #F1F1F1;
  --background-panel-default: #FFFFFF;
  --background-panel-pressed: #C9C9C9;
  --background-panel-secondary: #F1F1F1;
  --background-section-brand: #F1F1F1;
  --background-section-brandalt01: #F1F1F1;
  --background-section-default: #F1F1F1;
  --background-section-defaultalt01: #FFFFFF;
  --background-sentiment-critical: #FFF6F5;
  --background-sentiment-criticalalt01: #FFF6F5;
  --background-sentiment-info: #F8F8FF;
  --background-sentiment-infoalt01: #F8F8FF;
  --background-sentiment-success: #F6F9F5;
  --background-sentiment-successalt01: #F6F9F5;
  --background-sentiment-warning: #FFF7E8;
  --background-sentiment-warningalt01: #FFF7E8;
  --border-action-default: #000000;
  --border-action-disabled: #C9C9C9;
  --border-action-oncolor-disabled: #C9C9C9;
  --border-action-oncolor-pressed: #323233;
  --border-action-pressed: #323233;
  --border-generic-default: #F1F1F1;
  --border-generic-defaultalt01: #C9C9C9;
  --border-generic-defaultalt02: #000000;
  --border-input-active: #000000;
  --border-input-default: #323233;
  --border-input-disabled: #C9C9C9;
  --border-input-success: #10A870;
  --border-sentiment-criticalalt01: #00000000;
  --border-sentiment-infoalt01: #00000000;
  --border-sentiment-successalt01: #00000000;
  --border-sentiment-warningalt01: #00000000;
  --icon-action-default: #000000;
  --icon-action-defaultalt01: #FFFFFF;
  --icon-action-inverse: #000000;
  --icon-action-inversealt01: #FFFFFF;
  --icon-action-pressed: #000000;
  --icon-action-pressedalt01: #FFFFFF;
  --icon-generic-brand: #000000;
  --icon-generic-brandalt01: #000000;
  --icon-generic-brandalt02: #000000;
  --icon-generic-brandalt03: #000000;
  --icon-generic-default: #000000;
  --icon-generic-defaultalt01: #FFFFFF;
  --icon-generic-subdued: #767676;
  --icon-generic-subduedalt01: #767676;
  --local-digitaltransaction-listitem-textincoming: #00855D;
  --local-digitaltransaction-listitem-textoutgoing: #000000;
  --text-action-default: #000000;
  --text-action-defaultalt01: #FFFFFF;
  --text-action-inverse: #000000;
  --text-action-inversealt01: #FFFFFF;
  --text-action-pressed: #000000;
  --text-action-pressedalt01: #FFFFFF;
  --text-generic-brand: #000000;
  --text-generic-brandalt01: #000000;
  --text-generic-brandalt02: #000000;
  --text-generic-brandalt03: #000000;
  --text-generic-default: #000000;
  --text-generic-defaultalt01: #FFFFFF;
  --text-generic-subdued: #767676;
  --text-input-default: #000000;
  --text-input-defaultalt01: #000000;
  --text-input-disabled: #767676;
  --text-input-error: #DB0F30;
  --text-input-label: #000000;
  --text-input-placeholder: #767676;
  --text-input-validated: #007C56;
  --text-sentiment-critical: #000000;
  --text-sentiment-info: #000000;
  --text-sentiment-success: #000000;
  --text-sentiment-warning: #000000;
}

[data-theme="dark"] {
  --background-action-default: #0BE248;
  --background-action-disabled: #1B1B1B;
  --background-action-oncolor-disabled: #1B1B1B;
  --background-action-oncolor-pressed: #6CF479;
  --background-action-pressed: #6CF479;
  --background-input-default: #222222;
  --background-input-disabled: #222222;
  --background-page-default: #121212;
  --background-panel-default: #222222;
  --background-panel-pressed: #1B1B1B;
  --background-panel-secondary: #0F100F;
  --background-section-brand: #0F100F;
  --background-section-brandalt01: #222222;
  --background-section-default: #0F100F;
  --background-section-defaultalt01: #222222;
  --background-sentiment-critical: #1B1312;
  --background-sentiment-criticalalt01: #1B1312;
  --background-sentiment-info: #14151B;
  --background-sentiment-infoalt01: #14151B;
  --background-sentiment-success: #121612;
  --background-sentiment-successalt01: #121612;
  --background-sentiment-warning: #1A1611;
  --background-sentiment-warningalt01: #1A1611;
  --border-action-default: #636363;
  --border-action-disabled: #1B1B1B;
  --border-action-oncolor-disabled: #1B1B1B;
  --border-action-oncolor-pressed: #6CF479;
  --border-action-pressed: #6CF479;
  --border-generic-default: #3A3A3A;
  --border-generic-defaultalt01: #3A3A3A;
  --border-generic-defaultalt02: #FFFFFF;
  --border-input-active: #FFFFFF;
  --border-input-default: #636363;
  --border-input-disabled: #3A3A3A;
  --border-input-success: #41C952;
  --border-sentiment-criticalalt01: #DB0F30;
  --border-sentiment-infoalt01: #276AE6;
  --border-sentiment-successalt01: #0F9F6A;
  --border-sentiment-warningalt01: #E06900;
  --icon-action-default: #E8E8E8;
  --icon-action-defaultalt01: #E8E8E8;
  --icon-action-inverse: #121212;
  --icon-action-inversealt01: #121212;
  --icon-action-pressed: #E8E8E8;
  --icon-action-pressedalt01: #121212;
  --icon-generic-brand: #E8E8E8;
  --icon-generic-brandalt01: #E8E8E8;
  --icon-generic-brandalt02: #E8E8E8;
  --icon-generic-brandalt03: #E8E8E8;
  --icon-generic-default: #E8E8E8;
  --icon-generic-defaultalt01: #E8E8E8;
  --icon-generic-subdued: #ADADAD;
  --icon-generic-subduedalt01: #E8E8E8;
  --local-digitaltransaction-listitem-textincoming: #0BE248;
  --local-digitaltransaction-listitem-textoutgoing: #E8E8E8;
  --text-action-default: #E8E8E8;
  --text-action-defaultalt01: #E8E8E8;
  --text-action-inverse: #121212;
  --text-action-inversealt01: #121212;
  --text-action-pressed: #E8E8E8;
  --text-action-pressedalt01: #121212;
  --text-generic-brand: #E8E8E8;
  --text-generic-brandalt01: #E8E8E8;
  --text-generic-brandalt02: #E8E8E8;
  --text-generic-brandalt03: #E8E8E8;
  --text-generic-default: #E8E8E8;
  --text-generic-defaultalt01: #E8E8E8;
  --text-generic-subdued: #ADADAD;
  --text-input-default: #E8E8E8;
  --text-input-defaultalt01: #E8E8E8;
  --text-input-disabled: #ADADAD;
  --text-input-error: #FD5E6E;
  --text-input-label: #E8E8E8;
  --text-input-placeholder: #ADADAD;
  --text-input-validated: #41C952;
  --text-sentiment-critical: #FFFFFF;
  --text-sentiment-info: #FFFFFF;
  --text-sentiment-success: #FFFFFF;
  --text-sentiment-warning: #FFFFFF;
}
