/* Cancara — Component tokens. Generated. */

:root {
  --c-actionbutton-borderwidth: 1px;
  --c-actionbutton-defaultcornerradius: 12px;
  --c-brandaccentbutton-defaultcornerradius: 12px;
  --c-brandaccentbutton-primary-background-default: #0BE248;
  --c-brandaccentbutton-primary-background-pressed: #6CF479;
  --c-brandaccentbutton-primary-border-default: #0BE248;
  --c-brandaccentbutton-primary-border-pressed: #6CF479;
  --c-brandaccentbutton-primary-icon-default: #000000;
  --c-brandaccentbutton-primary-icon-pressed: #000000;
  --c-brandaccentbutton-primary-text-default: #000000;
  --c-brandaccentbutton-primary-text-pressed: #000000;
  --c-cardhub-card-cornerradius: 8px;
  --c-cardhub-card-dropshadow-blur: 24px;
  --c-cardhub-card-dropshadow-default: #0000003F;
  --c-cardhub-card-dropshadow-xaxis: 0px;
  --c-cardhub-card-dropshadow-yaxis: 4px;
  --c-cardhub-card-tagcornerradius: 200px;
  --c-cardhub-carousel-indicatorsizeactive: 12px;
  --c-cardhub-carousel-indicatorsizedefault: 8px;
  --c-cardhub-lloydscard-active-background: #11B67A;
  --c-cardhub-lloydscard-active-logo: #000000;
  --c-cardhub-lloydscard-active-text: #000000;
  --c-cardhub-lloydscard-blocked-background: #C9C9C9;
  --c-cardhub-lloydscard-blocked-illustration: #F1F1F17F;
  --c-cardhub-lloydscard-blocked-logo: #000000;
  --c-cardhub-lloydscard-blocked-text: #000000;
  --c-cardhub-lloydscard-details-cardnumberbackground: #000000;
  --c-cardhub-lloydscard-details-cardnumbericon: #FFFFFF;
  --c-cardhub-lloydscard-details-cardnumbertext: #FFFFFF;
  --c-cardhub-lloydscard-details-cvvbackground: #FFFFFF;
  --c-cardhub-lloydscard-details-cvvtext: #000000;
  --c-cardhub-lloydscard-details-magneticstrip: #000000;
  --c-cardhub-lloydscard-details-networklogo: #C9C9C9;
  --c-cardhub-lloydscard-error-background: #FFFFFF;
  --c-cardhub-lloydscard-frozen-background: #C9C9C9;
  --c-cardhub-lloydscard-frozen-illustration: #F1F1F17F;
  --c-cardhub-lloydscard-frozen-logo: #000000;
  --c-cardhub-lloydscard-frozen-text: #000000;
  --c-cardhub-lloydscard-tag-new-background: #0BE248;
  --c-cardhub-lloydscard-tag-new-text: #000000;
  --c-cardhub-lloydscard-tag-replaced-background: #0BE248;
  --c-cardhub-lloydscard-tag-replaced-text: #000000;
  --c-compactbutton-borderwidth: 1px;
  --c-compactbutton-defaultcornerradius: 12px;
  --c-compactbutton-smallcornerradius: 8px;
  --c-compactbutton-smallminheight: 36px;
  --c-header-dropshadow-xaxis: 0px;
  --c-header-dropshadow-yaxis: 6px;
  --c-iconbutton-borderwidth: 1px;
  --c-iconbutton-cornerradius: 200px;
  --c-iconbutton-defaultcornerradius: 9999px;
  --c-iconbutton-smallminsize: 32px;
  --c-input-cornerradius: 12px;
  --c-input-minheight: 56px;
  --c-pictogram-icon-canvas-default: #C7FFC6;
  --c-pictogram-icon-canvas-defaultalt01: #00000000;
  --c-pictogram-icon-canvas-defaultalt02: #F1F1F1;
  --c-pictogram-icon-canvas-primary: #11B67A;
  --c-pictogram-icon-canvas-primaryalt01: #006A4D;
  --c-pictogram-icon-canvas-primaryalt02: #024731;
  --c-pictogram-icon-canvas-primaryalt03: #6CF479;
  --c-pictogram-icon-canvas-secondary: #C7FFC6;
  --c-pictogram-icon-canvas-secondaryalt01: #A19FFF;
  --c-pictogram-icon-canvas-secondaryalt02: #F5B2F2;
  --c-pictogram-icon-canvas-secondaryalt03: #9DE7DE;
  --c-pictogram-icon-canvas-secondaryalt04: #FFB16A;
  --c-pictogram-icon-default: #000000;
  --c-pictogram-icon-defaultalt02: #000000;
  --c-pictogram-icon-primary: #000000;
  --c-pictogram-icon-primaryalt01: #FFFFFF;
  --c-pictogram-icon-primaryalt02: #FFFFFF;
  --c-pictogram-icon-primaryalt03: #000000;
  --c-pictogram-icon-secondary: #000000;
  --c-pictogram-icon-secondaryalt01: #000000;
  --c-pictogram-icon-secondaryalt02: #000000;
  --c-pictogram-icon-secondaryalt03: #000000;
  --c-pictogram-icon-secondaryalt04: #000000;
  --c-pictogram-illustration-canvas-default: #C7FFC6;
  --c-pictogram-illustration-canvas-defaultalt01: #FFFFFF;
  --c-pictogram-illustration-canvas-defaultalt02: #F1F1F1;
  --c-pictogram-illustration-canvas-primary: #11B67A;
  --c-pictogram-illustration-canvas-primaryalt01: #006A4D;
  --c-pictogram-illustration-canvas-primaryalt02: #024731;
  --c-pictogram-illustration-canvas-primaryalt03: #6CF479;
  --c-pictogram-illustration-canvas-secondary: #C7FFC6;
  --c-pictogram-illustration-canvas-secondaryalt01: #A19FFF;
  --c-pictogram-illustration-canvas-secondaryalt02: #F5B2F2;
  --c-pictogram-illustration-canvas-secondaryalt03: #9DE7DE;
  --c-pictogram-illustration-canvas-secondaryalt04: #FFB16A;
  --c-promo-background-primary: #11B67A;
  --c-promo-background-primaryalt01: #006A4D;
  --c-promo-background-primaryalt02: #024731;
  --c-promo-background-primaryalt03: #6CF479;
  --c-promo-background-secondary: #C7FFC6;
  --c-promo-background-secondaryalt01: #A19FFF;
  --c-promo-background-secondaryalt02: #F5B2F2;
  --c-promo-background-secondaryalt03: #9DE7DE;
  --c-promo-background-secondaryalt04: #FFB16A;
  --c-promo-icon-canvas-primary: #11B67A;
  --c-promo-icon-canvas-primaryalt01: #006A4D;
  --c-promo-icon-canvas-primaryalt02: #024731;
  --c-promo-icon-canvas-primaryalt03: #6CF479;
  --c-promo-icon-canvas-secondary: #C7FFC6;
  --c-promo-icon-canvas-secondaryalt01: #A19FFF;
  --c-promo-icon-canvas-secondaryalt02: #F5B2F2;
  --c-promo-icon-canvas-secondaryalt03: #9DE7DE;
  --c-promo-icon-canvas-secondaryalt04: #FFB16A;
  --c-promo-icon-genric-primary: #000000;
  --c-promo-icon-genric-primaryalt01: #FFFFFF;
  --c-promo-icon-genric-primaryalt02: #FFFFFF;
  --c-promo-icon-genric-primaryalt03: #000000;
  --c-promo-icon-genric-secondary: #000000;
  --c-promo-icon-genric-secondaryalt01: #000000;
  --c-promo-icon-genric-secondaryalt02: #000000;
  --c-promo-icon-genric-secondaryalt03: #000000;
  --c-promo-icon-genric-secondaryalt04: #000000;
  --c-promo-text-primary: #000000;
  --c-promo-text-primaryalt01: #FFFFFF;
  --c-promo-text-primaryalt02: #FFFFFF;
  --c-promo-text-primaryalt03: #000000;
  --c-promo-text-secondary: #000000;
  --c-promo-text-secondaryalt01: #000000;
  --c-promo-text-secondaryalt02: #000000;
  --c-promo-text-secondaryalt03: #000000;
  --c-promo-text-secondaryalt04: #000000;
  --c-selectcategoryitem-backgroundactive: #0BE248;
  --c-selectcategoryitem-iconactive: #000000;
  --c-spaces-accounttile-dropshadow-blur: 20px;
  --c-spaces-accounttile-dropshadow-default: #0000000C;
  --c-spaces-accounttile-dropshadow-xaxis: 0px;
  --c-spaces-accounttile-dropshadow-yaxis: 4px;
  --c-spinner-modal-style01-borderhighlight: #0BE248;
  --c-spinner-splashscreen-style01-border: #000000;
  --c-spinner-splashscreen-style01-borderhighlight: #0BE248;
  --c-spinner-splashscreen-style01-icon: #000000;
  --c-spinner-splashscreen-style02-gradientstop01: #00000000;
  --c-spinner-splashscreen-style02-gradientstop02: #000000;
  --c-spinner-splashscreen-style02-icon: #000000;
  --c-spinner-splashscreen-text: #000000;
  --c-temp-barchart-background: #003F2E;
  --c-temp-barchart-currentaccount: #003F2E;
  --c-temp-barchart-default: #77BA00;
  --c-temp-barchart-grid: #767676;
  --c-temp-barchart-investment: #99C3B7;
  --c-temp-barchart-savingsaccount: #649C00;
  --c-temp-bottomnav-dropshadow-blur: 0px;
  --c-temp-bottomnav-dropshadow-xaxis: 0px;
  --c-temp-bottomnav-dropshadow-yaxis: -1px;
  --c-temp-bottomnav-underline: #0BE248;
  --c-temp-button-primary2-background: #0BE248;
  --c-temp-button-primary2-backgroundpressed: #6CFA79;
  --c-temp-button-primary2-oncolor-background: #0BE248;
  --c-temp-button-primary2-oncolor-backgroundpressed: #6CFA79;
  --c-temp-button-primary2-oncolor-textdefault: #000000;
  --c-temp-button-primary2-oncolor-textpressed: #000000;
  --c-temp-button-primary2-textdefault: #000000;
  --c-temp-button-primary2-textpressed: #000000;
  --c-temp-calendar-quickselectionicon: #000000;
  --c-temp-calendar-todaytextindicator: #000000;
  --c-temp-cardhub-carbrandlogo: #FFFFFF;
  --c-temp-cardhub-cardshadow-blur: 24px;
  --c-temp-cardhub-cardshadow-default: #00000059;
  --c-temp-cardhub-cardshadow-xaxis: 24px;
  --c-temp-cardhub-cardshadow-yaxis: 4px;
  --c-temp-cardhub-carproviderlogo: #FFFFFF;
  --c-temp-cardhub-ccvbackground: #FFFFFF;
  --c-temp-cardhub-ccvtext: #FFFFFF;
  --c-temp-cardhub-fullpanbackground: #FFFFFF;
  --c-temp-cardhub-magnecticstrip: #000000;
  --c-temp-cardhub-networklogo: #BFBFBF;
  --c-temp-divider-default: #BFBFBF;
  --c-temp-input-backgrounderror: #00000000;
  --c-temp-input-backgroundhint: #00000000;
  --c-temp-input-backgroundsuccess: #00000000;
  --c-temp-input-bordererror: #00000000;
  --c-temp-input-borderunderline: #00000000;
  --c-temp-input-borderunderlineactive: #00000000;
  --c-temp-input-borderunderlinedisabled: #00000000;
  --c-temp-input-borderunderlineerror: #00000000;
  --c-temp-input-borderwidthactive: 2px;
  --c-temp-input-borderwidthdefault: 1px;
  --c-temp-input-checkbox-bordercritical: #DB0F30;
  --c-temp-input-checkbox-borderwidth: 1px;
  --c-temp-input-checkbox-cornerradius: 8px;
  --c-temp-input-cornerradius: 12px;
  --c-temp-input-hintmessage-cornerradius: 12px;
  --c-temp-input-hintmessage-marginspacing: 0px;
  --c-temp-input-hintmessage-paddingspacing: 0px;
  --c-temp-input-iconactionbackground: #00000000;
  --c-temp-input-mifield-shape01cornerradius: 8px;
  --c-temp-input-minheight: 56px;
  --c-temp-input-radiobutton-bordercritical: #DB0F30;
  --c-temp-input-radiobutton-borderwidth: 1px;
  --c-temp-input-sortcode-borderwidthactive: 2px;
  --c-temp-input-sortcode-borderwidthdefault: 1px;
  --c-temp-input-sortcode-validationmessagespacing: 0px;
  --c-temp-keyboard-accessorybarbackground: #000000;
  --c-temp-keyboard-accessorybartext: #FFFFFF;
  --c-temp-keyboard-deletekeyicon: #FFFFFF;
  --c-temp-linearprogressindicator-track: #0BE248;
  --c-temp-list-backgroundpressed: #F1F1F1;
  --c-temp-message-borderwarningdefault: #00000000;
  --c-temp-notification-badge-background: #DB0F30;
  --c-temp-notification-panel-arrow-neg01spacing: -1px;
  --c-temp-notification-panel-arrow-neg02spacing: -2px;
  --c-temp-notification-panel-cornerradius: 12px;
  --c-temp-notification-pill-critical-textdefault: #FFFFFF;
  --c-temp-notification-pill-generic-backgrounddefault: #767676;
  --c-temp-notification-pill-generic-textdefault: #FFFFFF;
  --c-temp-notification-tag-new-backgrounddefault: #0BE248;
  --c-temp-notification-tag-new-cornerradius: 200px;
  --c-temp-notification-tag-new-textdefault: #000000;
  --c-temp-popup-button-textdisabled: #767676;
  --c-temp-popup-cornerradius: 16px;
  --c-temp-popup-headerbottomborderwidth: 0px;
  --c-temp-popup-headerfraudbackground: #E06900;
  --c-temp-popup-headernegativebackground: #DB0F30;
  --c-temp-popup-titlefraud: #000000;
  --c-temp-popup-titlenegative: #FFFFFF;
  --c-temp-quickaction-borderwidth: 1px;
  --c-temp-quickaction-borderwidthalt01: 1px;
  --c-temp-quickaction-cornerradiusdefault: 12px;
  --c-temp-quickaction-cornerradiuslarge: 12px;
  --c-temp-spinner-defaultalt01: #FFFFFF;
  --c-temp-spinner-highlight: #0BE248;
  --c-temp-spinner-highlightalt01: #0BE248;
  --c-temp-stepprogressindicator-default: #C9C9C9;
  --c-temp-switch-handeldefaultsize: 16px;
  --c-temp-switch-handledisbledsize: 16px;
  --c-temp-switch-handlepressedsize: 28px;
  --c-temp-switch-handleselecteddisabledsize: 24px;
  --c-temp-switch-handleselectedpressedsize: 24px;
  --c-temp-switch-handleselectedsize: 24px;
  --c-temp-switch-iconselecteddefault: #000000;
  --c-temp-switch-iconselecteddisabled: #000000;
  --c-temp-switch-iconselectedpressed: #000000;
  --c-temp-switch-trackbackgroundpressed: #FFFFFF;
  --c-temp-switch-trackborderselected: #00000000;
  --c-temp-switch-trackborderselecteddisabled: #00000000;
  --c-temp-switch-trackborderselectedpressed: #00000000;
  --c-temp-tabs-backgroundactivealt01: #00000000;
  --c-temp-tile-borderdefault: #00000000;
  --c-temp-tile-borderpressed: #00000000;
  --c-temp-tile-cornerradius: 12px;
  --c-temp-tile-iconpressed: #000000;
  --c-temp-tile-textpressed: #000000;
  --c-temp-toggle-cornerradiusdefault: 8px;
  --c-temp-toggle-cornerradiuslarge: 12px;
  --c-temp-tray-handlealt01: #FFFFFF;
  --c-temp-warningview-text: #E66D00;
  --c-cardhub-lloydscard-tag-blocked-background: #000000;
  --c-cardhub-lloydscard-tag-blocked-text: #FFFFFF;
  --c-cardhub-lloydscard-tag-expiring-background: #000000;
  --c-cardhub-lloydscard-tag-expiring-text: #FFFFFF;
  --c-cardhub-lloydscard-tag-partfrozen-background: #000000;
  --c-cardhub-lloydscard-tag-partfrozen-text: #FFFFFF;
  --c-carousel-indicator-itemactive: #000000;
  --c-carousel-indicator-iteminactive: #767676;
  --c-carousel-indicator-oncoloritemactive: #000000;
  --c-carousel-indicator-oncoloriteminactive: #767676;
  --c-datavis-blue400: #3082CF;
  --c-datavis-blue800: #0B3760;
  --c-datavis-bluedefault: #0F62B0;
  --c-datavis-green400: #219E6E;
  --c-datavis-green800: #014631;
  --c-datavis-greendefault: #11714F;
  --c-datavis-orange400: #DD5D26;
  --c-datavis-orange800: #740B01;
  --c-datavis-orangedefault: #AD2E00;
  --c-datavis-pink400: #D054C6;
  --c-datavis-pink800: #62135B;
  --c-datavis-pinkdefault: #A8239D;
  --c-datavis-purple400: #7F5CFB;
  --c-datavis-purple800: #380F85;
  --c-datavis-purpledefault: #6235E9;
  --c-header-logo-brand: #000000;
  --c-header-logo-brandalt01: #006A4D;
  --c-header-dropshadow-blur: 4px;
  --c-header-dropshadow-default: #00000033;
  --c-input-checkbox-tick: #000000;
  --c-input-cursor: #000000;
  --c-input-cursorselected: #000000;
  --c-input-radiobutton-dot: #000000;
  --c-pictogram-icon-defaultalt01: #000000;
  --c-promo-background-default: #FFFFFF;
  --c-promo-icon-canvas-default: #FFFFFF;
  --c-promo-icon-genric-default: #000000;
  --c-promo-text-default: #000000;
  --c-selectcategoryitem-backgrounddefault: #FFFFFF;
  --c-selectcategoryitem-borderactive: #000000;
  --c-selectcategoryitem-borderdefault: #C9C9C9;
  --c-selectcategoryitem-icondefault: #000000;
  --c-skeleton-shimmer: #F1F1F1;
  --c-spinner-modal-style01-border: #000000;
  --c-spinner-modal-style01-icon: #000000;
  --c-spinner-modal-style02-gradientstop01: #00000000;
  --c-spinner-modal-style02-gradientstop02: #000000;
  --c-spinner-modal-style02-icon: #000000;
  --c-statusbar-timepluslevels: #000000;
  --c-temp-accordion-expandedpanelbackground: #FFFFFF;
  --c-temp-bottomnav-background: #FFFFFF;
  --c-temp-bottomnav-dropshadow-default: #0000000F;
  --c-temp-bottomnav-iconactive: #000000;
  --c-temp-bottomnav-icondefault: #000000;
  --c-temp-bottomnav-textactive: #000000;
  --c-temp-bottomnav-textdefault: #000000;
  --c-temp-button-primary3-background: #000000;
  --c-temp-button-primary3-backgroundpressed: #323233;
  --c-temp-button-primary3-oncolor-background: #FFFFFF;
  --c-temp-button-primary3-oncolor-backgroundpressed: #323233;
  --c-temp-button-primary3-oncolor-textdefault: #000000;
  --c-temp-button-primary3-oncolor-textpressed: #FFFFFF;
  --c-temp-button-primary3-textdefault: #FFFFFF;
  --c-temp-button-primary3-textpressed: #FFFFFF;
  --c-temp-button-primary4-background: #000000;
  --c-temp-button-primary4-backgroundpressed: #323233;
  --c-temp-button-primary4-oncolor-background: #FFFFFF;
  --c-temp-button-primary4-oncolor-backgroundpressed: #323233;
  --c-temp-button-primary4-oncolor-textdefault: #000000;
  --c-temp-button-primary4-oncolor-textpressed: #FFFFFF;
  --c-temp-button-primary4-textdefault: #FFFFFF;
  --c-temp-button-primary4-textpressed: #FFFFFF;
  --c-temp-button-primary5-background: #000000;
  --c-temp-button-primary5-backgroundpressed: #323233;
  --c-temp-button-primary5-oncolor-background: #FFFFFF;
  --c-temp-button-primary5-oncolor-backgroundpressed: #323233;
  --c-temp-button-primary5-oncolor-textdefault: #000000;
  --c-temp-button-primary5-oncolor-textpressed: #FFFFFF;
  --c-temp-button-primary5-textdefault: #FFFFFF;
  --c-temp-button-primary5-textpressed: #FFFFFF;
  --c-temp-calendar-datebackground: #FFFFFF;
  --c-temp-calendar-dateselectedbackground: #000000;
  --c-temp-calendar-dateselectedtext: #FFFFFF;
  --c-temp-calendar-datetextdefault: #000000;
  --c-temp-calendar-datetextdisabled: #767676;
  --c-temp-calendar-datetextpressed: #000000;
  --c-temp-calendar-daynamesbackground: #FFFFFF;
  --c-temp-calendar-daynamestext: #767676;
  --c-temp-calendar-headerbackground: #FFF7E8;
  --c-temp-calendar-headerborder: #00000000;
  --c-temp-calendar-headertext: #000000;
  --c-temp-calendar-monthstepperbackground: #000000;
  --c-temp-calendar-quickselectionbackground: #FFFFFF;
  --c-temp-calendar-quickselectiontext: #000000;
  --c-temp-calendar-todaybackgroundindicator: #F1F1F1;
  --c-temp-calendar-wheelpickertext: #000000;
  --c-temp-cardhub-activecardbackground: #003F2E;
  --c-temp-cardhub-background: #006A4D;
  --c-temp-cardhub-cardexpirytext: #FFFFFF;
  --c-temp-cardhub-cardholdernametext: #FFFFFF;
  --c-temp-cardhub-expiringcardbadge: #767676;
  --c-temp-cardhub-frozencardbackground: #ADADAD;
  --c-temp-cardhub-newcardbadge: #0D5595;
  --c-temp-cardhub-notificationbannerbackground: #00000033;
  --c-temp-cardhub-pantext: #323233;
  --c-temp-cardhub-partialfrozencardbadge: #767676;
  --c-temp-cardhub-partialpantext: #FFFFFF;
  --c-temp-eiapin-background: #FFFFFF;
  --c-temp-eiapin-border: #323233;
  --c-temp-input-checkbox-backgroundactive: #FFFFFF;
  --c-temp-input-checkbox-borderactive: #000000;
  --c-temp-input-checkbox-tickactivedisabled: #000000;
  --c-temp-input-checkbox-tickdefault: #000000;
  --c-temp-input-clearicon: #000000;
  --c-temp-input-cursor: #000000;
  --c-temp-input-cursorselected: #000000;
  --c-temp-input-iconaction: #000000;
  --c-temp-input-iconactionalt01: #000000;
  --c-temp-input-leftlabel: #000000;
  --c-temp-input-mifield-passwordinput: #000000;
  --c-temp-input-radiobutton-backgroundactive: #FFFFFF;
  --c-temp-input-radiobutton-borderactive: #000000;
  --c-temp-input-radiobutton-dotactivedisabled: #000000;
  --c-temp-input-radiobutton-dotdefault: #000000;
  --c-temp-input-righttext: #000000;
  --c-temp-input-texthint: #000000;
  --c-temp-input-texthinterror: #DF1536;
  --c-temp-input-textmasked: #000000;
  --c-temp-input-textmaskeddisabled: #767676;
  --c-temp-keyboard-background: #F1F1F1;
  --c-temp-keyboard-deletekeybackground: #505050;
  --c-temp-keyboard-deletekeyiconpressed: #000000;
  --c-temp-keyboard-keybackground: #FFFFFF;
  --c-temp-keyboard-keybackgroundpressed: #FFFFFF;
  --c-temp-keyboard-keybackgroundpressedipad: #BFBFBF;
  --c-temp-keyboard-keytext: #000000;
  --c-temp-notification-pill-critical-backgrounddefault: #DB0F30;
  --c-temp-notification-pill-warning-backgrounddefault: #FFF7E8;
  --c-temp-notification-pill-warning-textdefault: #000000;
  --c-temp-popup-button-background: #FFFFFF;
  --c-temp-popup-button-backgrounddisabled: #F1F1F1;
  --c-temp-popup-button-backgroundpressed: #C9C9C9;
  --c-temp-popup-button-borderdefault: #C9C9C9;
  --c-temp-popup-button-textdefault: #000000;
  --c-temp-popup-button-textpressed: #000000;
  --c-temp-popup-headerdefaultbackground: #F1F1F1;
  --c-temp-popup-headerpositivebackground: #F1F1F1;
  --c-temp-popup-informationpanelbackground: #FFF7E8;
  --c-temp-popup-informationpaneltext: #000000;
  --c-temp-popup-titledefault: #000000;
  --c-temp-popup-titlepositive: #000000;
  --c-temp-quickaction-backgrounddefault: #FFFFFF;
  --c-temp-quickaction-backgrounddefaultalt01: #FFFFFF;
  --c-temp-quickaction-backgrounddisabled: #F1F1F1;
  --c-temp-quickaction-backgroundpressed: #C9C9C9;
  --c-temp-quickaction-borderdefault: #C9C9C9;
  --c-temp-quickaction-borderdisabled: #C9C9C9;
  --c-temp-quickaction-borderpressed: #C9C9C9;
  --c-temp-quickaction-icondefault: #000000;
  --c-temp-quickaction-icondefaultalt01: #000000;
  --c-temp-quickaction-icondisabled: #C9C9C9;
  --c-temp-quickaction-iconpressed: #000000;
  --c-temp-quickaction-textdefault: #000000;
  --c-temp-quickaction-textdisabled: #C9C9C9;
  --c-temp-quickaction-textpressed: #000000;
  --c-temp-scroll-indicator: #000000;
  --c-temp-spinner-default: #000000;
  --c-temp-spinner-gradientalt01stop01: #00000000;
  --c-temp-spinner-gradientalt01stop02: #000000;
  --c-temp-spinner-gradientstop01: #00000000;
  --c-temp-spinner-gradientstop02: #000000;
  --c-temp-spinner-icon: #000000;
  --c-temp-stepprogressindicator-completed: #000000;
  --c-temp-switch-handledefault: #000000;
  --c-temp-switch-handledisabled: #767676;
  --c-temp-switch-handlepressed: #323233;
  --c-temp-switch-handleselected: #FFFFFF;
  --c-temp-switch-handleselecteddisabled: #767676;
  --c-temp-switch-handleselectedpressed: #FFFFFF;
  --c-temp-switch-pulse: #3232333D;
  --c-temp-switch-trackbackgrounddefault: #FFFFFF;
  --c-temp-switch-trackbackgrounddefaultalt01: #C9C9C9;
  --c-temp-switch-trackbackgrounddisabled: #C9C9C9;
  --c-temp-switch-trackbackgroundselecteddefault: #000000;
  --c-temp-switch-trackbackgroundselecteddisabled: #C9C9C9;
  --c-temp-switch-trackbackgroundselectedpressed: #000000;
  --c-temp-switch-trackborderdefault: #323233;
  --c-temp-switch-trackborderdisabled: #C9C9C9;
  --c-temp-switch-trackborderpressed: #323233;
  --c-temp-table-spacerbackground: #000000;
  --c-temp-tabs-backgroundactive: #FFFFFF;
  --c-temp-tabs-backgrounddefault: #F1F1F1;
  --c-temp-tabs-borderactive: #000000;
  --c-temp-tabs-borderactivealt01: #000000;
  --c-temp-tabs-borderdefault: #000000;
  --c-temp-tabs-iconactive: #000000;
  --c-temp-tabs-icondefault: #000000;
  --c-temp-tabs-textactive: #000000;
  --c-temp-tabs-textactivealt01: #000000;
  --c-temp-tabs-textdefault: #000000;
  --c-temp-tabs-textdefaultalt01: #000000;
  --c-temp-tile-backgrounddefault: #FFFFFF;
  --c-temp-tile-backgroundpressed: #C9C9C9;
  --c-temp-tile-icondefault: #000000;
  --c-temp-tile-textdefault: #000000;
  --c-temp-toggle-backgroundactive: #000000;
  --c-temp-toggle-backgroundactivedisabled: #C9C9C9;
  --c-temp-toggle-backgrounddefault: #F1F1F1;
  --c-temp-toggle-borderdefault: #000000;
  --c-temp-toggle-borderdisabled: #C9C9C9;
  --c-temp-toggle-textdefault: #FFFFFF;
  --c-temp-tray-handle: #000000;
  --c-temp-uiview-borderdefault: #000000;
}

[data-theme="dark"] {
  --c-cardhub-lloydscard-tag-blocked-background: #FFFFFF;
  --c-cardhub-lloydscard-tag-blocked-text: #000000;
  --c-cardhub-lloydscard-tag-expiring-background: #FFFFFF;
  --c-cardhub-lloydscard-tag-expiring-text: #000000;
  --c-cardhub-lloydscard-tag-partfrozen-background: #FFFFFF;
  --c-cardhub-lloydscard-tag-partfrozen-text: #000000;
  --c-carousel-indicator-itemactive: #FFFFFF;
  --c-carousel-indicator-iteminactive: #FFFFFF;
  --c-carousel-indicator-oncoloritemactive: #FFFFFF;
  --c-carousel-indicator-oncoloriteminactive: #FFFFFF;
  --c-datavis-blue400: #B6F1EC;
  --c-datavis-blue800: #007C85;
  --c-datavis-bluedefault: #50BEB9;
  --c-datavis-green400: #C7FFC6;
  --c-datavis-green800: #007C56;
  --c-datavis-greendefault: #54C585;
  --c-datavis-orange400: #FFE2C7;
  --c-datavis-orange800: #D2400F;
  --c-datavis-orangedefault: #F68E46;
  --c-datavis-pink400: #FADBF9;
  --c-datavis-pink800: #C435B8;
  --c-datavis-pinkdefault: #E684E0;
  --c-datavis-purple400: #D7D6FF;
  --c-datavis-purple800: #7346FA;
  --c-datavis-purpledefault: #9286FE;
  --c-header-logo-brand: #FFFFFF;
  --c-header-logo-brandalt01: #FFFFFF;
  --c-header-dropshadow-blur: 0px;
  --c-header-dropshadow-default: #FFFFFF33;
  --c-input-checkbox-tick: #6CF479;
  --c-input-cursor: #6CF479;
  --c-input-cursorselected: #6CF47933;
  --c-input-radiobutton-dot: #6CF479;
  --c-pictogram-icon-defaultalt01: #FFFFFF;
  --c-promo-background-default: #222222;
  --c-promo-icon-canvas-default: #1B1B1B;
  --c-promo-icon-genric-default: #FFFFFF;
  --c-promo-text-default: #FFFFFF;
  --c-selectcategoryitem-backgrounddefault: #1E201E;
  --c-selectcategoryitem-borderactive: #00000000;
  --c-selectcategoryitem-borderdefault: #FFFFFF;
  --c-selectcategoryitem-icondefault: #0BE248;
  --c-skeleton-shimmer: #121212;
  --c-spinner-modal-style01-border: #C7FFC6;
  --c-spinner-modal-style01-icon: #0BE248;
  --c-spinner-modal-style02-gradientstop01: #0BE24800;
  --c-spinner-modal-style02-gradientstop02: #0BE248;
  --c-spinner-modal-style02-icon: #0BE248;
  --c-statusbar-timepluslevels: #FFFFFF;
  --c-temp-accordion-expandedpanelbackground: #222222;
  --c-temp-bottomnav-background: #000000;
  --c-temp-bottomnav-dropshadow-default: #FFFFFF33;
  --c-temp-bottomnav-iconactive: #0BE248;
  --c-temp-bottomnav-icondefault: #FFFFFF;
  --c-temp-bottomnav-textactive: #0BE248;
  --c-temp-bottomnav-textdefault: #FFFFFF;
  --c-temp-button-primary3-background: #00000000;
  --c-temp-button-primary3-backgroundpressed: #00000000;
  --c-temp-button-primary3-oncolor-background: #00000000;
  --c-temp-button-primary3-oncolor-backgroundpressed: #00000000;
  --c-temp-button-primary3-oncolor-textdefault: #00000000;
  --c-temp-button-primary3-oncolor-textpressed: #00000000;
  --c-temp-button-primary3-textdefault: #00000000;
  --c-temp-button-primary3-textpressed: #00000000;
  --c-temp-button-primary4-background: #00000000;
  --c-temp-button-primary4-backgroundpressed: #00000000;
  --c-temp-button-primary4-oncolor-background: #00000000;
  --c-temp-button-primary4-oncolor-backgroundpressed: #00000000;
  --c-temp-button-primary4-oncolor-textdefault: #00000000;
  --c-temp-button-primary4-oncolor-textpressed: #00000000;
  --c-temp-button-primary4-textdefault: #00000000;
  --c-temp-button-primary4-textpressed: #00000000;
  --c-temp-button-primary5-background: #00000000;
  --c-temp-button-primary5-backgroundpressed: #00000000;
  --c-temp-button-primary5-oncolor-background: #00000000;
  --c-temp-button-primary5-oncolor-backgroundpressed: #00000000;
  --c-temp-button-primary5-oncolor-textdefault: #00000000;
  --c-temp-button-primary5-oncolor-textpressed: #00000000;
  --c-temp-button-primary5-textdefault: #00000000;
  --c-temp-button-primary5-textpressed: #00000000;
  --c-temp-calendar-datebackground: #222222;
  --c-temp-calendar-dateselectedbackground: #0BE248;
  --c-temp-calendar-dateselectedtext: #000000;
  --c-temp-calendar-datetextdefault: #FFFFFF;
  --c-temp-calendar-datetextdisabled: #FFFFFF;
  --c-temp-calendar-datetextpressed: #FFFFFF;
  --c-temp-calendar-daynamesbackground: #222222;
  --c-temp-calendar-daynamestext: #E8E8E8;
  --c-temp-calendar-headerbackground: #14151B;
  --c-temp-calendar-headerborder: #276AE6;
  --c-temp-calendar-headertext: #FFFFFF;
  --c-temp-calendar-monthstepperbackground: #0BE248;
  --c-temp-calendar-quickselectionbackground: #222222;
  --c-temp-calendar-quickselectiontext: #FFFFFF;
  --c-temp-calendar-todaybackgroundindicator: #FFFFFF;
  --c-temp-calendar-wheelpickertext: #FFFFFF;
  --c-temp-cardhub-activecardbackground: #00000000;
  --c-temp-cardhub-background: #00000000;
  --c-temp-cardhub-cardexpirytext: #00000000;
  --c-temp-cardhub-cardholdernametext: #00000000;
  --c-temp-cardhub-expiringcardbadge: #00000000;
  --c-temp-cardhub-frozencardbackground: #00000000;
  --c-temp-cardhub-newcardbadge: #00000000;
  --c-temp-cardhub-notificationbannerbackground: #00000000;
  --c-temp-cardhub-pantext: #00000000;
  --c-temp-cardhub-partialfrozencardbadge: #00000000;
  --c-temp-cardhub-partialpantext: #00000000;
  --c-temp-eiapin-background: #00000000;
  --c-temp-eiapin-border: #FFFFFF;
  --c-temp-input-checkbox-backgroundactive: #1E201E;
  --c-temp-input-checkbox-borderactive: #E8E8E8;
  --c-temp-input-checkbox-tickactivedisabled: #6CF479;
  --c-temp-input-checkbox-tickdefault: #6CF479;
  --c-temp-input-clearicon: #E8E8E8;
  --c-temp-input-cursor: #6CF479;
  --c-temp-input-cursorselected: #6CF47933;
  --c-temp-input-iconaction: #6CF479;
  --c-temp-input-iconactionalt01: #6CF479;
  --c-temp-input-leftlabel: #FFFFFF;
  --c-temp-input-mifield-passwordinput: #E8E8E8;
  --c-temp-input-radiobutton-backgroundactive: #1E201E;
  --c-temp-input-radiobutton-borderactive: #E8E8E8;
  --c-temp-input-radiobutton-dotactivedisabled: #6CF479;
  --c-temp-input-radiobutton-dotdefault: #6CF479;
  --c-temp-input-righttext: #FEFEFE;
  --c-temp-input-texthint: #FEFEFE;
  --c-temp-input-texthinterror: #FD5E6E;
  --c-temp-input-textmasked: #FEFEFE;
  --c-temp-input-textmaskeddisabled: #FEFEFE99;
  --c-temp-keyboard-background: #6A6A6A;
  --c-temp-keyboard-deletekeybackground: #777777;
  --c-temp-keyboard-deletekeyiconpressed: #FFFFFF;
  --c-temp-keyboard-keybackground: #979797;
  --c-temp-keyboard-keybackgroundpressed: #979797;
  --c-temp-keyboard-keybackgroundpressedipad: #979797;
  --c-temp-keyboard-keytext: #FFFFFF;
  --c-temp-notification-pill-critical-backgrounddefault: #3E1514;
  --c-temp-notification-pill-warning-backgrounddefault: #433417;
  --c-temp-notification-pill-warning-textdefault: #FFFFFF;
  --c-temp-popup-button-background: #222222;
  --c-temp-popup-button-backgrounddisabled: #1B1B1B;
  --c-temp-popup-button-backgroundpressed: #1B1B1B;
  --c-temp-popup-button-borderdefault: #3A3A3A;
  --c-temp-popup-button-textdefault: #FFFFFF;
  --c-temp-popup-button-textpressed: #FFFFFF;
  --c-temp-popup-headerdefaultbackground: #1B1B1B;
  --c-temp-popup-headerpositivebackground: #1B1B1B;
  --c-temp-popup-informationpanelbackground: #1A1611;
  --c-temp-popup-informationpaneltext: #FFFFFF;
  --c-temp-popup-titledefault: #FFFFFF;
  --c-temp-popup-titlepositive: #FFFFFF;
  --c-temp-quickaction-backgrounddefault: #222222;
  --c-temp-quickaction-backgrounddefaultalt01: #222222;
  --c-temp-quickaction-backgrounddisabled: #00000000;
  --c-temp-quickaction-backgroundpressed: #1B1B1B;
  --c-temp-quickaction-borderdefault: #3A3A3A;
  --c-temp-quickaction-borderdisabled: #1B1B1B;
  --c-temp-quickaction-borderpressed: #1B1B1B;
  --c-temp-quickaction-icondefault: #0BE248;
  --c-temp-quickaction-icondefaultalt01: #0BE248;
  --c-temp-quickaction-icondisabled: #767676;
  --c-temp-quickaction-iconpressed: #6CF479;
  --c-temp-quickaction-textdefault: #FFFFFF;
  --c-temp-quickaction-textdisabled: #767676;
  --c-temp-quickaction-textpressed: #FFFFFF;
  --c-temp-scroll-indicator: #00000000;
  --c-temp-spinner-default: #C7FFC6;
  --c-temp-spinner-gradientalt01stop01: #FFFFFF00;
  --c-temp-spinner-gradientalt01stop02: #FFFFFF;
  --c-temp-spinner-gradientstop01: #0BE24800;
  --c-temp-spinner-gradientstop02: #0BE248;
  --c-temp-spinner-icon: #0BE248;
  --c-temp-stepprogressindicator-completed: #0BE248;
  --c-temp-switch-handledefault: #FFFFFF;
  --c-temp-switch-handledisabled: #1B1B1B;
  --c-temp-switch-handlepressed: #000000;
  --c-temp-switch-handleselected: #000000;
  --c-temp-switch-handleselecteddisabled: #1B1B1B;
  --c-temp-switch-handleselectedpressed: #000000;
  --c-temp-switch-pulse: #FFFFFF3D;
  --c-temp-switch-trackbackgrounddefault: #ADADAD;
  --c-temp-switch-trackbackgrounddefaultalt01: #ADADAD;
  --c-temp-switch-trackbackgrounddisabled: #767676;
  --c-temp-switch-trackbackgroundselecteddefault: #6CF479;
  --c-temp-switch-trackbackgroundselecteddisabled: #767676;
  --c-temp-switch-trackbackgroundselectedpressed: #6CF479;
  --c-temp-switch-trackborderdefault: #ADADAD;
  --c-temp-switch-trackborderdisabled: #767676;
  --c-temp-switch-trackborderpressed: #FFFFFF;
  --c-temp-table-spacerbackground: #00000000;
  --c-temp-tabs-backgroundactive: #222222;
  --c-temp-tabs-backgrounddefault: #000000;
  --c-temp-tabs-borderactive: #666766;
  --c-temp-tabs-borderactivealt01: #6CF479;
  --c-temp-tabs-borderdefault: #666766;
  --c-temp-tabs-iconactive: #6CF479;
  --c-temp-tabs-icondefault: #FFFFFF;
  --c-temp-tabs-textactive: #6CF479;
  --c-temp-tabs-textactivealt01: #6CF479;
  --c-temp-tabs-textdefault: #FFFFFF;
  --c-temp-tabs-textdefaultalt01: #FFFFFF;
  --c-temp-tile-backgrounddefault: #222222;
  --c-temp-tile-backgroundpressed: #1B1B1B;
  --c-temp-tile-icondefault: #FFFFFF;
  --c-temp-tile-textdefault: #FFFFFF;
  --c-temp-toggle-backgroundactive: #0BE248;
  --c-temp-toggle-backgroundactivedisabled: #C7FFC6;
  --c-temp-toggle-backgrounddefault: #1B1B1B;
  --c-temp-toggle-borderdefault: #0BE248;
  --c-temp-toggle-borderdisabled: #767676;
  --c-temp-toggle-textdefault: #121212;
  --c-temp-tray-handle: #6B6B6B;
  --c-temp-uiview-borderdefault: #FFFFFF;
}
